<div class="body">
    <div class="lessons-list" *ngIf="registerSucces else register">

        <div class="register-success" style="text-align: center; padding-top: 100px;">
            <div *ngIf="loading" >
                <div style="text-align: center; color: white;" >
                    Loading.....
                </div>
            </div>
            <div *ngIf="!loading" >
                <h1>Congraulations !!!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ut blanditiis molestias quia eaque dolore ipsa repudiandae non
                    ratione voluptas, quo impedit expedita illum architecto hic maiores illo rerum commodi doloribus.</p>
                <a routerLink="/login">Login</a>
            </div>

        </div>
    </div>



    <ng-template #register>
        <div class="login-form">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <h2 class="text-center">Sign in</h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input type="email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                            class="form-control" name="email" placeholder="Email" ngModel #email="ngModel"
                            required="required">
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors?.required">Email is required</div>
                            <div *ngIf="email.errors?.email">Must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password"
                            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" minlength="8" required ngModel
                            #password="ngModel" required="required">
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors?.required">Password is required</div>
                            <div *ngIf="password.errors?.minlength">Password should be at least 8 characters long</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control"
                            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" minlength="8"
                            name="confirmpassword" placeholder="Confirm Password" ngModel #confirmpassword="ngModel"
                            required>
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="confirmpassword.errors?.required">Confirm Password is required</div>
                            <div *ngIf="confirmpassword.errors?.minlength">Password should be at least 8 characters long
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
                </div>
            </form>
            <div class="hint-text">Have an account? <a routerLink="/login" class="text-success">Login</a></div>
        </div>
    </ng-template>
</div>